<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-2">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
      </div>
      <div class="col-lg-10">
        <h1 class="display-4 text-white mt-5 mb-2">SPA Development with Angular</h1>
        <p class="lead mb-5 text-white">Diving into the fantastic Angular Framework</p>
      </div>
    </div>
  </div>
</header>

<div class="container main-container">
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/crossplat.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Cross Platform</h4>
          <p class="card-text">Progressive Web Apps, Native and Desktop</p>
        </div>
        <div class="card-footer">
          <a href="https://angular.io/features" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/performance.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Performance</h4>
          <p class="card-text">Code Generation, Universal and Code Splitting</p>
        </div>
        <div class="card-footer">
          <a href="https://angular.io/features" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/produtividade.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Productivity</h4>
          <p class="card-text">Templates: Create UI views with simple and powerful syntax. <br/>Angular CLI: Command Line tools. <br/>IDEs: Get intelligent code completion, instant erros and other feedback in popular IDEs.</p>
        </div>
        <div class="card-footer">
          <a href="https://angular.io/features" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/full_dev.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Full Development Story</h4>
          <p class="card-text">Testing: With Karma for unit tests, you can know if you've broken things every time you save. And Protractor makes your scenario tests run faster and in a stable manner.            
            <br/>
            Animation: Create high-performance, complex choreographies and animation timelines with very little code through Angular's intuitive API.
            <br/>
            Accessibility: Create accessible applications with ARIA-enabled components, developer guides, and built-in a11y test infrastructure.</p>
        </div>
        <div class="card-footer">
          <a href="https://angular.io/features" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>
  </div>
</div>